In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Mataura,NZ,2021-02-04 05:19:23,-46.1927,168.8643,62.29,43,0,8.59
1,1,Rikitea,PF,2021-02-04 05:19:34,-23.1203,-134.9692,78.19,71,0,13.33
2,2,Tasiilaq,GL,2021-02-04 05:20:02,65.6145,-37.6368,16.18,89,34,10.38
3,3,Tromso,NO,2021-02-04 05:20:48,69.6496,18.9570,30.20,86,75,9.22
4,4,Alice Springs,AU,2021-02-04 05:21:36,-23.7000,133.8833,96.80,21,40,18.41

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [10]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Rikitea,PF,2021-02-04 05:19:34,-23.1203,-134.9692,78.19,71,0,13.33
7,7,Hilo,US,2021-02-04 05:19:24,19.7297,-155.0900,75.20,69,90,4.61
10,10,Diu,IN,2021-02-04 05:25:17,20.7141,70.9822,79.30,27,0,0.72
14,14,Arraial Do Cabo,BR,2021-02-04 05:14:55,-22.9661,-42.0278,76.05,88,0,23.17
16,16,Vaini,TO,2021-02-04 05:19:37,-21.2000,-175.2000,82.40,83,75,5.75
17,17,Ballina,AU,2021-02-04 05:24:49,-28.8667,153.5667,84.20,65,5,11.50
20,20,Puri,IN,2021-02-04 05:25:19,19.8000,85.8500,75.20,46,0,3.44
21,21,Hobyo,SO,2021-02-04 05:24:36,5.3505,48.5268,77.59,71,73,18.75
22,22,Maningrida,AU,2021-02-04 05:23:33,-12.0667,134.2667,86.65,70,99,11.77
24,24,Carnarvon,AU,2021-02-04 05:19:26,-24.8667,113.6333,86.00,100,90,28.77

In [11]:
preferred_cities_df.count()

City_ID       160
City          160
Country       160
Date          160
Lat           160
Lng           160
Max Temp      160
Humidity      160
Cloudiness    160
Wind Speed    160
dtype: int64

In [12]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
1           Rikitea      PF     78.19 -23.1203 -134.9692
7              Hilo      US     75.20  19.7297 -155.0900
10              Diu      IN     79.30  20.7141   70.9822
14  Arraial Do Cabo      BR     76.05 -22.9661  -42.0278
16            Vaini      TO     82.40 -21.2000 -175.2000
17          Ballina      AU     84.20 -28.8667  153.5667
20             Puri      IN     75.20  19.8000   85.8500
21            Hobyo      SO     77.59   5.3505   48.5268
22       Maningrida      AU     86.65 -12.0667  134.2667
24        Carnarvon      AU     86.00 -24.8667  113.6333

In [19]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [20]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Rikitea,PF,78.19,-23.1203,-134.9692,Pension Maro'i
7,Hilo,US,75.20,19.7297,-155.0900,Hilo Hawaiian Hotel
10,Diu,IN,79.30,20.7141,70.9822,Hotel Relax Inn
14,Arraial Do Cabo,BR,76.05,-22.9661,-42.0278,Pousada Porto Praia
16,Vaini,TO,82.40,-21.2000,-175.2000,Keleti Beach Resort
17,Ballina,AU,84.20,-28.8667,153.5667,Ramada Hotel & Suites by Wyndham Ballina Byron
20,Puri,IN,75.20,19.8000,85.8500,OYO 1577 Hotel Shree Hari Grand
21,Hobyo,SO,77.59,5.3505,48.5268,Halane Hotel and Restaurent
22,Maningrida,AU,86.65,-12.0667,134.2667,Dhukurrdji Lodge
24,Carnarvon,AU,86.00,-24.8667,113.6333,Hospitality Carnarvon

Figure(layout=FigureLayout(height='420px'))

In [27]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]